/* Very basic styling to make content comprehensible */

a {
  color: #0000FF;
}

body {
  font-family: sans-serif;
}

svg {
  width: 5em;
  height: 5em;
}

th {
  cursor: pointer;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

#hilfe {
  display: none;
}

#loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
}

.ascending::after {
  content: " \25BC";
}

.descending::after {
  content: " \25B2";
}

.has-holdings td:last-child {
  background-color: #AFA;
}

.has-no-holdings td:last-child {
  background-color: #FAA;
}
