/* Very basic styling to make content comprehensible */

body {
  font-family: sans-serif;
}

svg {
  width: 5em;
  height: 5em;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

#loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
}

.ascending::after {
  content: " \25BD";
}

.descending::after {
  content: " \25B3";
}

.has-holdings {
  background-color: #AFA;
}

.has-no-holdings {
  background-color: #FAA;
}
