/* Very basic styling to make content comprehensible */

body {
  font-family: sans-serif;
  margin: 1rem 2rem;
}

a {
  color: #0000FF;
}

fieldset {
  border-color: #EEF;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.05),
     0px 2px 5px rgba(0,0,0,0.02),
     0px 5px 5px rgba(0,0,0,0.02),
     0px 7px 5px rgba(0,0,0,0.02);
  width: max-content;
}

input {
  margin: auto 0.5rem;
}

input,
select {
  font-size: 1rem;
}

legend {
  border: 1px solid #BBF;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  background-color: #EEF;
}

legend a {
  color: #445;
  text-decoration: none;
}

li {
  line-height: 1.25rem;
}
 
svg {
  width: 5rem;
  height: 5rem;
}

table {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.10),
     0px 2px 5px rgba(0,0,0,0.05),
     0px 5px 5px rgba(0,0,0,0.05),
     0px 7px 5px rgba(0,0,0,0.05);
  max-width: 90vw;
  margin: 0 auto;
}

th {
  background: #223;
  color: #EEF;
  cursor: pointer;
}

td, th {
  padding: 0.5rem;
}

tbody tr:nth-child(even) {
  background: #EEF;
}

#hilfe {
  background-color: #EEF;
  border-radius: 0.5rem;
  display: none;
  padding: 0.5rem 1rem;
}

#loader {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
}

#loader-text {
  text-align: center;
}

#submit {
  background-color: #223;
  border-color: #445;
  border-radius: 0.5rem;
  color: #EEF;
  padding: 0.5rem 1rem;
}

.ascending::after {
  content: " \25BC";
}

.descending::after {
  content: " \25B2";
}

.has-holdings td:last-child {
  background-color: #AFA;
}

.has-no-holdings td:last-child {
  background-color: #FAA;
}

.title {
  font-style: italic;
}
